<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }} | {{ config.title }}</title>
        <link rel="stylesheet" href="{{ prefix }}/style.css" />
        <link rel="canonical" href="{{ config.base_url }}{{ page_path }}" />
        <meta
            name="description"
            content="{% if page.description %}{{ page.description }}{% elif config.description %}{{ config.description }}{% else %}LAZOMI{% endif %}"
        />
        <!-- Open Graph -->
        <meta property="og:title" content="{{ title }}" />
        <meta
            property="og:url"
            content="{{ config.base_url | safe }}{{ page_path }}"
        />
        <meta property="og:site_name" content="{{ config.title }}" />
        <meta
            property="og:type"
            content="{% if page.date %}article{% else %}website{% endif %}"
        />
        {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
        {% elif config.description %}
        <meta property="og:description" content="{{ config.description }}" />
        {% endif %}
    </head>
    <body>
        <header class="topbar">
            <div class="topbar-content">
                <a href="{{ prefix }}/" class="brand">LAZOMI</a>
                <a href="#shop" class="btn-shop">shop</a>
            </div>
        </header>
        <main class="markdown">{% block content %}{% endblock content %}</main>
    </body>
</html>
