<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }} | {{ config.title }}</title>

        <link rel="canonical" href="{{ config.base_url }}{{ page_path }}" />
        <meta
            name="description"
            content="{% if page.description %}{{ page.description }}{% elif config.description %}{{ config.description }}{% else %}LAZOMI{% endif %}"
        />
        <!-- Open Graph -->
        <meta property="og:title" content="{{ title }}" />
        <meta
            property="og:url"
            content="{{ config.base_url | safe }}{{ page_path }}"
        />
        <meta property="og:site_name" content="{{ config.title }}" />
        <meta
            property="og:type"
            content="{% if page.date %}article{% else %}website{% endif %}"
        />
        {% if page.description %}
        <meta property="og:description" content="{{ page.description }}" />
        {% elif config.description %}
        <meta property="og:description" content="{{ config.description }}" />
        {% endif %}
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=sniglet:400,800" rel="stylesheet" />

        <!-- STYLES -->
        <link rel="stylesheet" href="{{ prefix }}/style.css" />
    </head>
    <body>
        {% include "rand_button.html" %}
        {% block content %}{% endblock content %}
        <script src="slideshow.js" defer></script>
    </body>
</html>
