<header class="topbar">
    <div class="topbar-content">
        <a href="{{ prefix }}/" class="brand">Lazomi</a>
        <div class="topbar-nav">
            <a
                href="https://www.etsy.com/shop/LazomiCreative"
                target="_blank"
                rel="noopener noreferrer"
                class="btn-shop relative transition-all duration-300"
            >
                <span class="relative z-10 tracking-wide">shop</span>

                <!-- Multi-colored Smaller Bubbles Around the Perimeter -->
                <span
                    class="bubble z-40 b-left-1 absolute rounded-full bg-pink-400/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-top-1 absolute rounded-full bg-yellow-300/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-right-1 absolute rounded-full bg-green-400/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-bottom-1 absolute rounded-full bg-cyan-300/50 pointer-events-none opacity-0"
                ></span>

                <span
                    class="bubble z-40 b-left-2 absolute rounded-full bg-purple-300/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-top-2 absolute rounded-full bg-orange-400/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-right-2 absolute rounded-full bg-red-400/50 pointer-events-none opacity-0"
                ></span>
                <span
                    class="bubble z-40 b-bottom-2 absolute rounded-full bg-emerald-300/50 pointer-events-none opacity-0"
                ></span>
            </a>
        </div>
    </div>
</header>
